                                            /*Arquivo responsável pela Responsividade do Site*/

                                        

@media (max-width: 1050px) {    
    #container_search {
        width: 850px;
    }
    #container_ramalList {
        width: 800px;
    }
    .container_ramalNumber {
        right:  -600px;
    }
}

@media (max-width: 870px) {
    #container_search {
        width: 700px;
    }
   #container_ramalList {
        width: 600px;
    }
    .container_ramalNumber {
        right:  -400px; 
    }

    .sectorName {
        font-size: 17px;
    }
}

@media (max-width: 730px) {
    #logo {
        height: 95px;
        width: 95px;
    }

    h1 {
        font-size: 30px;

    }

    #subtitulo {
        font-size: 20px;
    }

    #container_search {
        width: 650px;
        height: 80px;
    }

    #inputSearch {
        font-size: 18px;
    }

}