                                            /*Arquivo responsável pela Responsividade do Site*/

                                        

@media (max-width: 1050px) {    
    #container_search {
        width: 850px;
    }
    #container_ramalList {
        width: 800px;
    }
    .container_ramalNumber {
        right:  -600px;
    }
}

@media (max-width: 870px) {
    #container_search {
        width: 700px;
    }
   #container_ramalList {
        width: 600px;
    }
    .container_ramalNumber {
        right:  -400px; 
    }

    .sectorName {
        font-size: 17px;
    }
}

@media (max-width: 690px) {
    #logo {
        height: 95px;
        width: 95px;
    }

    h1 {
        font-size: 30px;
    }

    #subtitulo {
        font-size: 20px;
    }

    #container_search {
        width: 650px;
        height: 80px;
    }

    #inputSearch {
        font-size: 18px;
    }

}

@media (max-width: 650px) {
    #logo {
        height: 85px;
        width: 85px;
    }

    h1 {
        font-size: 30px;
    }

    #subtitulo {
        font-size: 20px;
    }

    #container_search {
        width: 550px;
        height: 80px;
    }

    #inputSearch {
        font-size: 18px;
    }

    #container_ramalList {
        width: 500px ;
    }

    .sectorName {
        font-size: 15.5px;
    }

    .ramalUser {
        font-size: 15px;
    }

    .container_ramalNumber {
        right:  -340px;
        bottom: 70px;
        width: 110px;
        height: 60px;  
    }
}