html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}                                                    /* RESET.CSS */


body{
    font-family: 'Inter', sans-serif;
    background-color:#e9f0ff ;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    
}   

#container_Father {
    padding: 0px 10px 10px 0px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

#header { /* Será a classe padrão para centralizar as div por meio do flexBox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 100px 100px 100px;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #0000006c;
}

h1 {
    margin: 10px;
    font-size: 30;
}

#subtitulo {
    color: #4a5565
}

#container_ramalList {
    background-color: #ffffff;
    width: 850px;
    height: 700px;
    padding: 10px ;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #0000006c;
    display: flex;
    flex-direction: column;
    
}

.ramalList {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.ramalSactor {
    font-size: 35px;
}

.container_ramalNumber {
    position: relative;
    right:  -650px;
    bottom: 24px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    background-color: #155DFC; 
}

.line {
    width: 99,5%;
    border: 1px solid #E9F0FF;
}